init.sh
*.pyc
*.swp
*.pot
*.mo

docs/build/*
docs/source/autogen/*

pynojo/config/overwrite.py

pynojo/view/static/pynojo_all.*

utils/3rd-party
!utils/3rd-party/list
!utils/3rd-party/download-all.sh
